


/*Text shown when setting up a game*/
.setupText{
    margin-top: 5px;
}

/*Buttons in header*/
.buttonText{
    font-weight: bold;
    color: black;
}

#infoButton{
    background-color: darkgrey;
    border-color: darkgrey;
}

/*Sidebar*/
.sidebarHeader{
    font-weight: bold;
    color: grey;
}

.divider{
     border-top: 1px solid grey !important;
  border-bottom: 1px solid grey !important;    
}


/*Table*/
.setupTable{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
   
background-color: #ffffff;
    border: 1px solid blue;

}

.setuptd{
background-color: #ffffff;
    border: 1px solid blue;
    width: 50px;
    height: 50px;
}

.enemytd:hover{
       background-image: url("../img/crosshair.png");
        background-size: 100%;
}

.boomtd{
       background-image: url("../img/explosion.png");
        background-size: 100%;
}
.splashtd{
       background-image: url("../img/splash.png");
        background-size: 100%;
}


.alliedtd{
    background-color: #ffffff;
    border: 1px solid blue;
    width: 50px;
    height: 50px;
}

.enemytd{
    background-color: #ffffff;
    border: 1px solid red;
    width: 50px;
    height: 50px;
}

/*Alert wrapper*/
#alertWrapper{
    padding-top: 10px;
    padding-bottom: -20px
}

#versusSymbol{
    width: 50%;
    height: 50%;
     display: block;
    margin-left: auto;
    margin-right: auto;
     padding-top: 40%;
}

/*Victory image*/
#victoryImage{
     width: 100%;
    height: 100%;
     display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40%;
}

/*Defeat image*/
#defeatImage{
     width: 100%;
    height: 100%;
     display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20%;
}
